/* main page */

* {
  border: 1px solid red;
}
body {
  margin: 0;
}


/* ////////        HOME        //////// */
.addPeople {
  height: 100%;
  /* background-color: red; */
}

.header {
  text-align: center;
  font-size: 2vw;
  font-size: 3vw;
  margin-top: 3%;
}

.radioButtons {
  margin: 15% 38% 3% 38%;
  height: 30px;
}

.radioAdd {
  float: left;
}
.radioRemove {
  float: left;
  margin-left: 25%;
}
.dropDown {
  margin: 2% 28%;
  height: 30px;
}
.input {
  margin: 2% 28%;
  height: 30px;
}
.namePool {
  margin: 2% 28%;
  height: 120px;
}
.submit {
  margin: 2% 30% 0 60%;
  height: 30px;
  text-align: center
}


/* ////////^^^        HOME        ^^^//////// */
/* ////////////////////////////////////////// */
/* ////////          RESULTS         //////// */

/* results page */

.teamHolder {
  margin: 5% 10% 5% 10%;
}

.peopleContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.personCard {
  height: 200px;
  width: 150px;
  margin: 1% 1% 1% 1%
}

.personHeader {
  height : 30px;
  margin-top: 0px
}