/* main page */

@import url('https://fonts.googleapis.com/css?family=Monoton');

/* * {
  border: 1px solid red;
} */
body {
  margin: 0;
  background : url("/background.jpg");
}

submit:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}

.submit button {
  background:#1AAB8A;
  color:#fff;
  border:none;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.submit button:hover{
  background:#fff;
  color:#1AAB8A;
}
.submit button:before,button:after{
  content:'';
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.submit button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.submit button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
.clear {
  clear: both;
}


/* ////////        HOME        //////// */
.addPeople {
  height: 100%;
}

.header {
  text-align: center;
  font-size: 2vw;
  font-size: 3vw;
  margin-top: 2%;
}
.header h1 {
  color    : blue;
  font-size: 4vw;
  font-family: 'Monoton', cursive;
}
.header h2 {
  color    : green;
  font-size: 3vw;
  font-family: 'Monoton', cursive;
}

.radio.submitBtns {
  margin: 15% 38% 3% 38%;
  height: 30px;
}

.radioAdd {
  float: left;
  margin-left: 27%;
}
.radioRemove {
  float: left;
  margin-left: 25%;
}
.dropDown {
  margin: 0% 3%;
  height: 30px;
}

.subBtn {
  font-size: 1vw;
  margin: 2% 40%;
  padding: 20px 0;
  border-radius: 50%;
  transition : transform 3s;
  width: 20%;
  height: 40%;
  background-color: green;
  color : white;
}
.subBtn:hover{
  transform : rotate(-10800deg) !important;
}

.nameIn {
  width: 35%;
  margin-right: 5%;
}
.input {
  margin: 2% 28%;
  height: 30px;
}
.namePool {
  margin: 2% 28%;
  height: 120px;
}
.submit {
  margin: 2% 30% 0 60%;
  height: 30px;
  text-align: center
}


/* ////////^^^        HOME        ^^^//////// */
/* ////////////////////////////////////////// */
/* ////////          RESULTS         //////// */

/* results page */

.teamHolder {
  margin: 5% 10% 5% 10%;
}

.peopleContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.personCard {
  height: 200px;
  width: 150px;
  margin: 1% 1% 1% 1%
}

.personHeader {
  height : 30px;
  margin-top: 0px
}